
{% extends 'PhotoApp/base.html' %}

{% block content %}
  <div class="center-horizontal">
    <div class="gray-container last">
    <h2 style="padding: 0px; font-size: 50px">Login</h2>
    {% if user.is_authenticated %}
    <p>You are already logged in. Maybe you wish to log out?</p>
    <p><a href="{% url 'logout_view' %}">Logout</a></p>
    {% else %}
    <form method="post" action="{% url 'login_view' %}">
      {% csrf_token %}

      {{ form.as_p }}

      <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{% url 'registration_view' %}">Register here</a>.</p>
    {% endif %}
  </div>
</div>
{% endblock %}