<!-- myapp/templates/myapp/upload.html -->
{% extends 'PhotoApp/base.html' %}

{% block title %}Upload Page{% endblock %}

{% block content %}
    <div class="center-horizontal">
        <div class="about-wrapper">
            <div class="about-thin">
                <header>
                    <h1>About PhotoApp</h1>
                    <p>PhotoApp is a Django App I've built as a way to practice and familiarize myself with the Django framework, and where I started my journey into web development.</p>
                </header>
                <main>
                    <section>
                        <h2>So, what does PhotoApp do?</h2>
                        <p>Basically, its a user oriented image gallery, where people may create profiles, upload images and share their thoughts on said images.</p>
                        <p>This sort of web app was what I chose to start with since in essence, it basically replicates what a lot of other platforms allow users to do.</p>
                    </section>
            
                    <section>
                        <h2>Who Am I?</h2>
                        <p>My name is Alexis García del Río, and I'm a self taught programmer with some experience in Python, Javascript and HTML/CSS; and I'm always looking to learn new technologies.</p>
                    </section>
            
                    <section>
                        <h2>Contact Me</h2>
                        <p>For any questions, feedback, or inquiries, please reach out to me either on my <a href="https://github.com/z3vr4">Github</a> or by email at alexisgarciadelriopoveda@gmail.com .</p>
                    </section>
                </main>
            </div>
        </div>
    </div>
{% endblock %}