<!-- myapp/templates/myapp/upload.html -->
{% extends 'PhotoApp/base.html' %}

{% block title %}Upload Page{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Profile Deletion Confirmation</title>
    <script>
        setTimeout(function() {
            window.location.href = "{% url 'main' %}";
        }, 5000); // 5000 milliseconds = 5 seconds
    </script>
</head>
<body>
    <div class="center-horizontal">
        <h1>You've successfully deleted your profile.</h1>
        <p>You will be redirected to the home page in 5 seconds</p>
        <p>Go back to <a href="{% url 'main' %}">main</a> now.</p>
    </div>
</body>
{% endblock %}