{% extends 'PhotoApp/base.html' %}

{% block title %}Delete Image Submission{% endblock %}

{% block content %}
<div class="center-horizontal">
<div class="gray-container">
    <h1>Delete Image Submission</h1>
    <img class="submission-image" src="{{ image_submission.image.url }}" alt="{{ image_submission.description }}">      
    <p>Are you sure you want to delete this image submission?</p>
    <p>Title: {{ image_submission.title }}</p>
    <p>Description: {{ image_submission.description }}</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="edit-button">Confirm Deletion</button>
        <a href="{% url 'edit_submission' submission_id=image_submission.id %}">Go back to editing view</a>
    </form>
</div>
</div>    
{% endblock %}