{% extends 'PhotoApp/base.html' %}

{% block title %}Profile page{% endblock %}

{% block content %}
<div class="center-horizontal">
    <div class="gray-container">
        <h1>THIS IS THE VIEW TO EDIT IMAGE SUBMISSIONS. CURRENTLY IN DEVELOPMENT</h1>
            <img class ="submission-image" src="{{ image_submission.image.url }}" alt="{{ image_submission.description }}">
            <p>{{ image_submission.description }}</p>
            <p>Uploaded by: <a href="{% url 'detail_profile' image_submission.user.user %}">{{ image_submission.user.user }}</a></p>
            <p>Upload Date: {{ image_submission.creation_date|date:"F j, Y H:i" }}</p>
    </div>
</div>     

{% endblock %}