{% extends 'PhotoApp/base.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    <div class="center-horizontal">
        <div class="gray-container">
            <h1>{{ user_profile.user.username }}'s profile EDITING VIEW</h1>
            <div class="profile-image-container">
                <img src="{{ user_profile.profile_image.url }}" class="profile-image">
            </div>
            <div class="comment-container">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="id_short_description">About me:</label>
                    {{ profile_form.short_description }}
                    <label for="id_social_links">Links:</label>
                    {{ profile_form.social_links }}
                    <button type="submit">Save Changes</button>
                </form>
            </div>
        </div>
        <div class="gray-container">
            <h3>Image Submissions</h3>
            <div class="gallery">
                {% for submission in user_profile.imagesubmission_set.all %}
                    <a href="{% url 'image_submission_detail' submission.id %}" class="grid-li">
                        <div class="square-image-container">
                            <img src="{{ submission.image.url }}" alt="{{ submission.description }}">
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}