{% extends 'PhotoApp/base.html' %}

{% block title %}Profile page{% endblock %}

{% block content %}
    <div class="center-horizontal">
        <div class="gray-container">
        <h1>{{ user_profile.user.username }}'s profile</h1>
        <div class="profile-image-container">
            <img src="{{ user_profile.profile_image.url }}" class="profile-image">
        </div>
        <div class="comment-container">
            <p>About me: {{ user_profile.short_description }}</p>
            <p>Links: {{ user_profile.social_links }}</p>
            <p>Creation date: {{ user_profile.creation_date }}</p>
        </div>
    </div>
    <div class="gray-container">
    <h3>Image Submissions</h3>
    <div class="gallery">
      {% for submission in user_profile.imagesubmission_set.all %}
          <a href="{% url 'image_submission_detail' submission.id %}" class="grid-li">
              <div class="square-image-container">
                  <img src="{{ submission.image.url }}" alt="{{ submission.description }}">
              </div>
          </a>
      {% endfor %}
  </div>
</div>
</div>
{% endblock %}