{% extends 'PhotoApp/base.html' %}

{% block title %}Profile page{% endblock %}

{% block content %}
<div class="center-horizontal">
    <div class="gray-container">
            <img class ="submission-image" src="{{ image_submission.image.url }}" alt="{{ image_submission.description }}">
            <p>{{ image_submission.description }}</p>
            <p>Uploaded by: <a href="{% url 'detail_profile' image_submission.user.user %}">{{ image_submission.user.user }}</a></p>
            <p>Upload Date: {{ image_submission.creation_date|date:"F j, Y H:i" }}</p>
    </div>
    {% if user.is_authenticated and user == image_submission.user.user %}
    <div class="center-horizontal">
        <a class="edit-button" href="{% url 'edit_submission' image_submission.id %}">Edit Submission</a>
    </div>
    {% endif %}
</div>     
<!--Comment section form stuff  -->
<div class="center-horizontal">
    <div class="comment-section" >
        <h1 style="padding: 0px; font-size: 50px">Comments</h2>
    </div>
    {% if user.is_authenticated %}
        <!-- Display form to post comments here -->
        <h1>Write a comment here</h1>
        <form method="post" class="comment-form">
            {% csrf_token %}
            {{ form.text }}
            <br>
            <button type="submit">Post Comment</button>
        </form>
    {% else %}
        <!-- Ask the user to log in if they want to post comments -->
        <p>You need to log in to post comments.</p>
        <p><a href="{% url 'login_view' %}">Log in</a></p>
    {% endif %}
</div>
<!-- Display comments stuff 
    note: make renderer say if there are no comments
-->        
<div class="center-horizontal">
    <div class="comment-container">
    <div class="comment-section">
    <ul class="comment-list">
        {% for comment in image_comments %}
            <li class="comment-item">
                <div class="comment-content">
                    <div class="profile-icon-container">
                        <img class="profile-icon" src="{{ comment.user.profile_image.url }}">
                    </div>
                    <div class="comment-text">
                        <h3><a href="{% url 'detail_profile' comment.user.user %}">{{ comment.user.user.username }}</a></h3>
                        <p>{{ comment.text }}</p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</div>
</div>
{% endblock %}