<!-- myapp/templates/myapp/upload.html -->
{% extends 'PhotoApp/base.html' %}

{% block title %}Upload Page{% endblock %}

{% block content %}
    <div class="center-content">
        <h1>Upload Image</h1>
        {% if user.is_authenticated %}
        <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label for="id_image_submission">Image:</label>
                <input type="file" name="image_submission" accept="image/*">
                <small>Upload an image.</small>
            </div>
    
            <div class="form-group">
                <label for="id_description">Enter an image description, or text:</label>
                <textarea name="description" rows="4" cols="50" maxlength="255" placeholder="No description"></textarea>
            </div>
    
            <!-- Hidden date input -->
            <input type="hidden" name="creation_date" value="{{ current_date }}">
    
            <div class="form-group">
                <button type="submit">Register</button>
            </div>
        </form>

        {% else %}
        <p>You need to log in to upload images.</p>
        <p><a style="color: cyan;" href="{% url 'login_view' %}">Log in</a></p>
    {% endif %}
    </div>
{% endblock %}