<!-- myapp/templates/myapp/upload.html -->
{% extends 'PhotoApp/base.html' %}

{% block title %}Upload Page{% endblock %}

{% block content %}
    <div class="center-content">
        <h1>Upload Image</h1>
        {% if user.is_authenticated %}
        <h1>Enter an image to upload below</h1>
        <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data">
            {% csrf_token %}
            
            {{ form.as_p }}

            <div class="form-group">
                <button type="submit">Upload</button>
            </div>
        </form>

        {% else %}
        <p>You need to log in to upload images.</p>
        <p><a style="color: cyan;" href="{% url 'login_view' %}">Log in</a></p>
    {% endif %}
    </div>
{% endblock %}